// Estilo para las card, todo el css esta de manera semántica 

.card
    margin: 2rem 3rem
    border-radius: 15px
    box-sizing: border-box
    background-color: $quaternary
    width: 15%
    display: flex
    flex-flow: column nowrap
    justify-content: space-around
    align-items: center

// Estilo para el botón de favorito y agregar tripulante
.corner
    background-color: transparent
    border: none
    height: 30px
    position: relative
    left: 40%

.corner.fav
    margin: 0.5rem 0.5rem 0 0

// Estilo del contenido de las cartas

.card-img
    margin: 0 0.5rem
    padding-bottom: 1rem
    width: 60%

.card-info
    box-sizing: border-box
    padding: 0.7rem
    border-radius: 0 0 15px 15px
    background-color: $primary
    width: 100%

.active
    background-color: $tertiary

.card-title
    padding: 5px 0
    border-bottom: 1.5px solid black
    font-weight: 700
    font-size: 1rem
    text-align: center

// Estilo para las cartas de los tripulantes

.card-tripulants
    margin: 2rem 3rem
    border-radius: 15px
    box-sizing: border-box
    background-color: $quaternary
    width: 25%
    display: flex
    flex-flow: column nowrap
    justify-content: space-around
    align-items: center

    .card-title
        border-bottom: 1.5px solid white

    .card-info
        box-sizing: border-box
        padding: 0.7rem
        border-radius: 0 0 15px 15px
        background-color: $tertiary
        width: 100%
        color: white

    .active
        background-color: $primary

.card.selected-starship
    width: 50%

.corner:hover .i
    color: $primary